.experience-section {
  overflow-y: auto;
  max-height: 100vh;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* Hide scrollbar cross-browser */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.experience-section::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.experience-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 800px;
  scroll-snap-type: y proximity;
  z-index: 10;
}

.experience-card {
  scroll-snap-align: start;
  height: auto; /* Revert to natural height */
  min-height: 300px;
  padding: 20px;
  margin-bottom: 30px;

  background-color: #2c2c2c;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: filter 0.3s ease, opacity 0.3s ease;
}



.card-content h2 {
  color: gold;
  font-size: 1.5rem;
}

.card-content h3 {
  color: #ddd;
}

.card-content p {
  color: #aaa;
}

.experience-observer-anchor {
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
}

.experience-wrapper {
  height: 100vh;
  scroll-snap-align: start;
  padding-left: 200px;
  padding-right: 20px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .experience-wrapper {
    padding-left: 0;
    padding-right: 10px;
  }
}
